.footer {
  background-color: rgba(30, 1, 47, 0.336);
  height: 200px;
  margin-top: 50px;
  width: 100%;
  color: white;
  // display: flex;
  // justify-content: center;
  text-align: center;

  a:hover {
    text-decoration-line: underline;
    color: black;
  }

  & h1 {
    color: white;
  }
}
